

/*Vacante */
#vac{
	text-align:center;
	
}
/*Sfirsit*/
/*Orar clasa 9*/
#table1{
	margin-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table2{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table3{
	margin-left:100px;
	margin-bottom:50px;
	clear:left;
	float:left;
}
#table4{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table5{
	margin-left:100px;
	clear:left;
	float:left;
}
#table6{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table7{
	margin-left:100px;
	margin-bottom:50px;
	clear:left;
	float:left;
}
#table8{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table9{
	margin-left:100px;
	clear:left;
	float:left;
}
#table10{
	padding-left:100px;
	float:left;
	margin-bottom:100px;
}
/*Sfirsit*/
/*Orar clasa 12*/
#table21{
	margin-left:100px;
	margin-bottom:50px;
	float:left;
}
#table22{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table23{
	margin-left:100px;
	margin-bottom:50px;
	clear:left;
	float:left;
}
#table24{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table25{
	margin-left:100px;
	margin-bottom:50px;
	clear:left;
	float:left;
}
#table26{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	margin-bottom:100px;
}
/*Sfirsit*/
/*Orar clasa 4*/
#table31{
	margin-left:100px;
	margin-bottom:50px;
	float:left;
}
#table32{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table33{
	margin-left:100px;
	margin-bottom:50px;
	clear:left;
	float:left;
}
#table34{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table35{
	margin-left:100px;
	margin-bottom:50px;
	clear:left;
	float:left;
}
#table36{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	
}
#table37{
	margin-left:100px;
	margin-bottom:50px;
	clear:left;
	float:left;
}
#table38{
	padding-left:100px;
	margin-bottom:50px;
	float:left;
	margin-bottom:100px;
}
#table41{
	margin-left:400px;
	
	margin-bottom:100px;
	
}




